#rootPane {
	-fx-background-image: url(/images/login_background.jpg);
	-fx-background-repeat: stretch;
	-fx-background-size: 900 500;
	-fx-background-position: center center;
}

.rich-blue {
    -fx-background-color: 
        #000000,
        linear-gradient(#7ebcea, #2f4b8f),
        linear-gradient(#426ab7, #263e75),
        linear-gradient(#395cab, #223768);
    -fx-background-insets: 0,1,2,3;
    -fx-background-radius: 3,2,2,2;
    -fx-padding: 12 30 12 30;
    -fx-text-fill: white;
    -fx-font-size: 12px;
}

.header-text {
	-fx-text-fill: #FFFFA3;
	-fx-font-size: 52px;
}

.header-text2 {
	-fx-text-fill: #FFFFA3;
	-fx-font-size: 16px;
}

.hiba {
	-fx-background-color: red;
}