grant Principal authrmi.RMILoginPrincipal "root"
{
   permission authrmi.permissions.ServerPermission "*";
};
grant Principal authrmi.RMILoginPrincipal "alice"
{
   permission authrmi.permissions.ServerPermission "doOperationA";
};
grant Principal authrmi.RMILoginPrincipal "guest"
{
};